DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-longa-unica-e-secreta
DJANGO_ALLOWED_HOSTS=marcosgouvea.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://marcosgouvea.pythonanywhere.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=gouvea.marcos@gmail.com
EMAIL_HOST_PASSWORD=senha-de-app-do-google
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Academia Técnica <gouvea.marcos@gmail.com>
