DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-longa-unica-e-secreta
DJANGO_ALLOWED_HOSTS=marcosgouvea.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://marcosgouvea.pythonanywhere.com

USE_X_FORWARDED_PROTO=True
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
SECURE_CONTENT_TYPE_NOSNIFF=True
SESSION_COOKIE_HTTPONLY=True
CSRF_COOKIE_HTTPONLY=True
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
X_FRAME_OPTIONS=DENY
MAX_CSV_IMPORT_SIZE_BYTES=2097152

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=gouvea.marcos@gmail.com
EMAIL_HOST_PASSWORD=senha-de-app-do-google
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Academia Técnica <gouvea.marcos@gmail.com>
